@import "tailwindcss";

:root {
  --background: #f5f5f5;   /* delikatne szare tło */
  --foreground: #333333;   /* ciemny szary tekst */
}


body {
  font-family: var(--font-lato), "Trebuchet MS", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
