@import "tailwindcss";

:root {
  --background: #f5f5f5;   /* delikatne szare tło */
  --foreground: #333333;   /* ciemny szary tekst */
}



body {
  font-family: var(--font-lato), "Trebuchet MS", sans-serif;
  background: #f5f5f5; /* Zawsze jasne tło */
  color: #333;         /* Zawsze ciemny tekst */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
